$font: Garamond, "Times New Roman", Times, serif;
$red: #CB2222;
$lightgray: #C0C0C0;
$darkgray: #808080;

body {
  margin: 0;
  background-color: black;
}

h1 {
  font-family: $font;
  padding-left: 20px;
  padding-top: 10px;
  color: $red;
}
h2 {
  font-family: $font;
}
h3 {
  font-family: $font;
}
h4 {
  font-family: $font;
  color: #C0C0C0;
}
h5 {
  font-style: $font;
}
p {
  font-family: $font;
}
a {
  font-family: $font;
}

.nav-block {
  position: absolute;
  p {
    position: relative;
    display: inline-block;
    padding-left: 65px;
    &:first-of-type {
      padding-left: 75px;
      color: blue;
    }
  }
}