.slideshow {
  position: absolute;
  margin-top: -20px;
  text-align: center;
  width: 100%;
  .pic {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 100%;
    /*opacity: 0.9;*/
  }
  h1 {
    position: relative;
    z-index: 4;
    color: white;
    top: -400px;
    font-size: 55px;
  }
  .myButton {
    position: relative;
    z-index: 4;
    background-color:#cb2222;
    border-radius:28px;
    display:inline-block;
    color:#ffffff;
    font-family: $font;
    font-weight: thin;
    font-size: 24px;
    padding: 11px 28px;
    margin-top: -26%;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .myButton:hover {
    background-color:#cb2222;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
}
.about {
  h3{
    padding-top: 740px;
    font-weight: 700;
    font-size: 26px;
    color: $red;
    border-bottom: 3px double;
    line-height: 1.7em;
    width: 180px;
  }
  h4 {
    padding-top: 30px;
    width: 80%;
    text-align: justify;
  }
}
.extras {
  width: 100%;
  height: 600px;
  padding-top: 80px;
  .pics {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    border-color: #696969;
    margin-right: 20px;
    margin-left: 14%;
    .photo {
      border-style: groove;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5px;
      width: 60%;
    }
    h2 {
      font-size: 22px;
      padding-left: 20px;
      color: #C0C0C0;
    }
    h3{
      padding-top: 0px;
      font-size: 24px;
      color: $red;
      border-bottom: none;
      line-height: nonel;
      width: 280px;
    }
    p {
      padding-left: 28px;
      text-align: justify;
      width: 90%;
      color: #808080;
    }
  }
  .vids {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    border-color: #696969;
    margin-right: 20px;
    .photo {
      border-style: groove;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5px;
      width: 60%;
    }
    h2 {
      font-size: 22px;
      padding-left: 20px;
      color: #C0C0C0;
    }
    h3{
      padding-top: 0px;
      font-size: 24px;
      color: $red;
      border-bottom: none;
      line-height: nonel;
      width: 280px;
    }
    p {
      padding-left: 4px;
      text-align: justify;
      width: 90%;
      color: #808080;
    }
  }
  .news {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    border-color: #696969;
    margin-right: 20px;
    .photo {
      border-style: groove;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 5px;
      width: 60%;
    }
    h2 {
      font-size: 22px;
      padding-left: 20px;
      color: #C0C0C0;
    }
    h3{
      padding-top: 0px;
      font-size: 24px;
      color: $red;
      border-bottom: none;
      line-height: nonel;
      width: 280px;
    }
    p {
      padding-left: 28px;
      text-align: justify;
      width: 90%;
      color: #808080;
    }
  }
}

/*locations page*/

.locations {
  position: absolute;
  width: 100%;
  .loc_1 {
    position: relative;
    top: 37px;
    width: 33%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    h2 {
      text-align: center;
      font-size: 23px;
      padding-bottom: 15px;
      color: #696969;
    }
    .pic {
      width: 55%;
      height: 37.5%;
      border-radius: 50%;
    }
    h3 {
      padding-left: 15px;
      font-size: 20px;
      padding-top: 10px;
      color: #696969;
      border-bottom: none;
      line-height: nonel;
      width: 280px;
    }
    .r {
      margin-bottom: 10px;
      width: 13%;
      height: 10.5%;
    }
    .m {
      margin-bottom: 20px;
      width: 9.5%;
      height: 7.8%;
    }
    .q58 {
      margin-bottom: 32px;
      padding-left: 8px;
      width: 10%;
      height: 4%;
    }
  }
  .loc_2 {
    position: relative;
    top: 32px;
    width: 33%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    h2 {
      text-align: center;
      font-size: 23px;
      padding-bottom: 15px;
      color: #696969;
    }
    .pic {
      width: 55%;
      height: 38%;
      border-radius: 50%;
    }
    h3 {
      font-size: 20px;
      padding-top: 10px;
      color: #696969;
      border-bottom: none;
      line-height: nonel;
      width: 280px;
    }
    .lirr {
      margin-bottom: 10px;
      width: 40%;
      height: 9%;
    }
    .q12 {
      margin-bottom: 28px;
      padding-left: 8px;
      margin-left: -15px;
      width: 10%;
      height: 3%;
    }
    .q13 {
      margin-bottom: 28px;
      padding-left: 8px;
      width: 10%;
      height: 3%;
    }
    .q27 {
      margin-bottom: 28px;
      padding-left: 8px;
      width: 10%;
      height: 3%;
    }
  }
  .loc_3 {
    position: relative;
    top: 28px;
    width: 33%;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    h2 {
      text-align: center;
      font-size: 23px;
      padding-bottom: 15px;
      color: #696969;
    }
    .pic {
      width: 55%;
      height: 38%;
      border-radius: 50%;
    }
    h3 {
      font-size: 20px;
      padding-top: 10px;
      color: #696969;
      border-bottom: none;
      line-height: nonel;
      width: 380px;
    }
    .seven {
      margin-bottom: 10px;
      width: 10%;
      height: 8%;
    }
    .q44 {
      margin-bottom: 25px;
      padding-left: 8px;
      width: 17%;
      height: 3.5%;
    }
  }
}


/*programs*/

/*.programs {
  .crazy-images {
    .img1 {
      margin: 10px;
      margin-left: 20px;
      width: 25%;
      height: 28%;
    }
    .img2 {
      margin: 10px;
      margin-left: 20px;
      width: 25%;
      height: 28%;
    }
  }
  h2 {
    padding-top: 30px;
    font-size: 30px;
    color: $red;
    border-bottom: 3px double;
    line-height: 1.7em;
    width: 180px;
  }
  .right-and-left{
    width: 100%;
    h3 {
      text-align: justify;
      padding-top: 20px;
      padding-left: 60px;
      float: left;
      color: $darkgray;
      width: 20%;
      margin-right: 20px;
      border-bottom: none;
    }
    h4 {
      padding-top: 20px;
      float: left;
      text-align: justify;
      width: 74.5%;
      color: $lightgray;
    }
  }  
}*/

.slideshow-program {
  position: absolute;
  margin-top: -20px;
  text-align: center;
  width: 102.5%;
  .pic {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 60%;
    /*opacity: 0.9;*/
  }
}
.programs {
  width: 100%;
  position: absolute;
  h3 {
    position: relative;
    top: 440px;
    left: 40px;
  }
  h2 {
    position: relative;
    top: 460px;
    text-align: center;
    color: $red;
  }
  h4 {
    margin-top: -30px;
    position: relative;
    top: 490px;
    text-align: center;
    width: 80%;
    color: black;
    font-size: 21px;
  }
}

.slideshow-gallery {
  position: absolute;
  margin-top: -20px;
  text-align: center;
  width: 100%;
  .pic {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: 60%;
    /*opacity: 0.9;*/
  }
}
.gallery {
  position: absolute;
  width: 100%;
  .rows {
    img {
      top: 10px;
      float:left;
      position: relative;
      width: 22%;
      height: 42%;
      margin: 5.56%;
      background-color: $darkgray;
      overflow:hidden;
      border-radius: 50%;
    }
  }
  .intro-rows {
    h4 {
      top: -2365px;
      float:left;
      width: 22%;
      padding-bottom: 252px;
      padding-left: 120px;
      position: relative;
      margin: 5.56%;
      overflow:hidden;
      font-size: 21px;
      color: $red;
    }
  }
  .word-rows {
    h3{
      top: -985px;
      float:left;
      width: 22%;
      padding-bottom: 265px;
      padding-left: 65px;
      position: relative;
      margin: 5.56%;
      overflow:hidden;
    }
  }
}


.career {
  position: absolute;
  width: 100%;
  h4 {
    padding-top: 40px;
    width: 85%;
    font-size: 21px;
  }
  h3 {
    font-size: 25px;
    width: 85%;
    color: $red;
  }
}


.achievements {
  position: absolute;
  width: 100%;
  .list2015 {
    h3 {
      color: #444;
      padding-top: 30px;
      padding-bottom: 40px;
      margin-left: 10%;
      font-size: 24px;
    }
    h4 {
      float:left;
      position: relative;
      width: 47%;
      margin-top: 10px;
      padding-left: 150px;
      overflow:hidden;
      font-size: 18px;
      margin-bottom: 40px;
      text-align: justify;
    }
    h2 {
      color: #444;
      padding-bottom: 40px;
      margin-top: 91%;
      margin-left: 10%;
      font-size: 24px;
    }
  }
}











