.slideshow {
  margin-top: 50px;
  text-align: center;
  .pic {
    width: 80%;
    height: 70%;
  }
}


.extras {
  width: 100%;
  height: 600px;
  padding-top: 50px;
  .pics {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    margin-right: 20px;
    margin-left: 14%;
    .photo {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 50px;
      width: 60%;
    }
  }
  .vids {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    margin-right: 20px;
    .photo {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 50px;
      width: 60%;
    }
  }
  .news {
    width: 23%;
    height: 400px;
    float: left;
    border-style: ridge;
    margin-right: 20px;
    .photo {
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 50px;
      width: 60%;
    }
  }
}