.nav-bar {
  @include span-columns(12);
  position: absolute;
  z-index: 3;
  .topnav {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin-top: 1px;
    padding: 3px;
    li {
      float: left;
      a {
        position: relative;
        /*right: 10px;*/
        display: inline-block;
        color: #f2f2f2;
        /*text-align: center;*/
        padding: 0px 10px;
        text-decoration: none;
        font-size: 18px;
        z-index: 14;
        font-family: $font;
        font-weight: 100;
        padding-right: 0px;
      }
      p {
        position: relative;
        display: inline;
        color: $red;
        /*text-align: center;*/
        font-size: 28px;
        left: 20px;
        margin: -3px;
        padding-right: 367px;
        padding: -31px 16px;
        text-decoration: none;
        z-index: 14;
        font-family: $font;
        font-weight: 400;
        &:hover {
          background-color: rgba(255, 0, 0, 0);
        }
      }
    }
  }

:nav {
  color: $red;
}


ul.topnav li a:hover {color: $red;}
ul.topnav li.icon {display: none;}

@media screen and (max-width:980px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:980px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
}









/*footer*/

$dk-blue: #1E83AE;
$blue: #3D5B94;
$light-blue: #3DACDD;
$green: #6dcd9a;
$social-size: 1.2em;
$social-width: 20%;

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body {
  font-family: Raleway, sans-serif;  
  background-color: #fff;
}

footer {
  width: 100%;
  display: inline-block;
  margin: 0em 0;
  height: 70px;
  background-color: #999;
  .copyright {
    width: 40%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      padding-left: 12%;
      color: white;
      font-size: 1.0em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
      width: 50%;
      float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
    a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      margin-left: -155px;
      text-align: center;
      font-weight: bold; 
      @include transition(all, 0.3s);
       &:hover {
         background-color: #222;
         @include transition(all, .3s);
      }
    }
    h3 {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold; 
    }
    h5 {
      margin-left: -14px;
      margin-right: 12px;
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: $red;
      text-align: center;
      font-weight: bold; 
    }
  }
}

.face {
  background-color: $blue;
  font-size: $social-size;
  width: $social-width;
}
.linked {
  background-color: #999;
  font-size: $social-size;
  width: $social-width;
}

.tweet {
  background-color: #999;
  font-size: $social-size;
  width: $social-width;
}

.support {
  background-color: #999;
  font-size: $social-size;
  width: $social-width;
}

