html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }

h1 {
  padding-top: 20px;
  padding-left: 20px;
  color: gray; }

.nav-block {
  position: absolute; }
  .nav-block p {
    position: relative;
    display: inline-block;
    padding-left: 65px; }
    .nav-block p:first-of-type {
      padding-left: 75px;
      color: blue; }

@media screen and (max-width: 750px) {
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  ul.topnav li {
    float: left; }

  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; }

  ul.topnav li a:hover {
    background-color: #555; }

  ul.topnav li.icon {
    display: none; } }
@media screen and (max-width: 750px) and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (max-width: 750px) and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
@media screen and (min-width: 750px) {
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  ul.topnav li {
    float: left; }

  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; }

  ul.topnav li a:hover {
    background-color: #555; }

  ul.topnav li.icon {
    display: none; } }
@media screen and (min-width: 750px) and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (min-width: 750px) and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
@media screen and (min-width: 750px) {
  .slideshow {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 50px; }

  .extras {
    position: absolute; }
    .extras .pics {
      position: relative;
      border-radius: 50%;
      top: 60px;
      left: 140px;
      width: 200px;
      height: 200px;
      padding-left: 30px; }
    .extras .vids {
      position: relative;
      border-radius: 50%;
      left: 540px;
      top: -140px;
      width: 200px;
      height: 200px;
      padding-left: 30px; }
    .extras .news {
      position: relative;
      border-radius: 50%;
      left: 937px;
      top: -340px;
      width: 200px;
      height: 200px;
      padding-left: 30px; } }

/*# sourceMappingURL=style.css.map */
