html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0;
  background-color: #F5F5F5; }

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  color: #CB2222; }

h2 {
  font-family: "Open Sans Condensed", sans-serif; }

h3 {
  font-family: "Open Sans Condensed", sans-serif; }

h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #C0C0C0; }

h5 {
  font-style: "Open Sans Condensed", sans-serif; }

p {
  font-family: "Open Sans Condensed", sans-serif; }

a {
  font-family: "Open Sans Condensed", sans-serif; }

.nav-block {
  position: absolute; }
  .nav-block p {
    position: relative;
    display: inline-block;
    padding-left: 65px; }
    .nav-block p:first-of-type {
      padding-left: 75px;
      color: blue; }

@media screen and (max-width: 750px) {
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  ul.topnav li {
    float: left; }

  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; }

  ul.topnav li a:hover {
    background-color: #555; }

  ul.topnav li.icon {
    display: none; } }
@media screen and (max-width: 750px) and (max-width: 650px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (max-width: 750px) and (max-width: 650px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
@media screen and (max-width: 750px) {
  h1 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px; }

  .slideshow {
    margin-top: 30px;
    text-align: center; }
    .slideshow .pic {
      width: 90%;
      height: 35%; }

  .extras {
    width: 100%;
    height: 600px;
    padding-top: 30px; }
    .extras .pics {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 20px;
      margin-left: 15%; }
      .extras .pics .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .pics h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .pics h3 {
        font-size: 17px; }
      .extras .pics p {
        display: none; }
    .extras .vids {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 20px;
      margin-left: 15%; }
      .extras .vids .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .vids h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .vids h3 {
        font-size: 17px; }
      .extras .vids p {
        display: none; }
    .extras .news {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 50px;
      margin-left: 15%; }
      .extras .news .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .news h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .news h3 {
        font-size: 17px; }
      .extras .news p {
        display: none; }

  /*locations*/
  .locations {
    position: absolute;
    width: 100%; }
    .locations .loc_1 {
      position: relative;
      top: 37px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_1 h2 {
        text-align: center;
        font-size: 26px;
        font-weight: 700;
        padding-bottom: 15px;
        color: #808080; }
      .locations .loc_1 .pic {
        width: 53%;
        height: 30.5%;
        border-radius: 50%; }
      .locations .loc_1 h3 {
        padding-left: 15px;
        font-size: 19px;
        padding-top: 10px;
        color: lightgray;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .locations .loc_1 .r {
        margin-bottom: 20px;
        width: 13%;
        height: 10.5%; }
      .locations .loc_1 .m {
        margin-bottom: 20px;
        width: 9.5%;
        height: 7.8%; }
      .locations .loc_1 .q58 {
        margin-bottom: 20px;
        padding-left: 8px;
        width: 10%;
        height: 4%; }
    .locations .loc_2 {
      position: relative;
      top: 52px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_2 h2 {
        text-align: center;
        font-size: 26px;
        padding-bottom: 15px;
        color: #808080; }
      .locations .loc_2 .pic {
        width: 53%;
        height: 30.5%;
        border-radius: 50%; }
      .locations .loc_2 h3 {
        font-size: 19px;
        padding-top: 10px;
        color: lightgray;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .locations .loc_2 .lirr {
        margin-bottom: 10px;
        width: 40%;
        height: 9%; }
      .locations .loc_2 .q12 {
        margin-bottom: 28px;
        padding-left: 8px;
        margin-left: -15px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q13 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q27 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
    .locations .loc_3 {
      position: relative;
      top: 72px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_3 h2 {
        text-align: center;
        font-size: 26px;
        padding-bottom: 15px;
        color: #808080; }
      .locations .loc_3 .pic {
        width: 53%;
        height: 30.5%;
        border-radius: 50%; }
      .locations .loc_3 h3 {
        font-size: 19px;
        padding-top: 10px;
        color: lightgray;
        border-bottom: none;
        line-height: nonel;
        width: 380px; }
      .locations .loc_3 .seven {
        margin-bottom: 10px;
        width: 10%;
        height: 8%; }
      .locations .loc_3 .q44 {
        margin-bottom: 25px;
        padding-left: 8px;
        width: 17%;
        height: 3.5%; }

  .slideshow-program {
    position: absolute;
    margin-top: -20px;
    text-align: center;
    width: 100%; }
    .slideshow-program .pic {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 35%;
      /*opacity: 0.9;*/ }

  .programs {
    width: 100%;
    position: absolute; }
    .programs h3 {
      position: relative;
      top: 260px;
      left: 24px;
      width: 90%;
      font-size: 21px; }
    .programs h2 {
      position: relative;
      top: 270px;
      text-align: center;
      color: #CB2222;
      font-size: 23px; }
    .programs h4 {
      margin-top: -50px;
      position: relative;
      top: 330px;
      text-align: justify;
      width: 90%;
      color: black;
      font-size: 19px; }

  /*career*/
  .career {
    position: absolute;
    width: 100%; }
    .career h4 {
      padding-top: 40px;
      width: 85%;
      font-size: 21px; }
    .career h3 {
      font-size: 25px;
      width: 85%;
      color: #CB2222; }

  /*gallery*/
  .gallery {
    position: absolute;
    width: 100%; }
    .gallery img {
      float: left;
      position: relative;
      width: 42%;
      margin: 3.66%;
      overflow: hidden; }

  /*achievements*/
  .achievements {
    position: absolute;
    width: 100%; }
    .achievements .list2015 h3 {
      color: #444;
      padding-top: 30px;
      padding-bottom: 40px;
      font-size: 24px;
      text-align: center; }
    .achievements .list2015 h4 {
      float: left;
      position: relative;
      width: 95%;
      margin-top: 10px;
      padding-left: 20px;
      overflow: hidden;
      font-size: 18px;
      margin-bottom: 40px;
      text-align: center; }
    .achievements .list2015 h2 {
      color: #444;
      padding-bottom: 40px;
      margin-top: 91%;
      font-size: 24px;
      text-align: center; } }
@media screen and (min-width: 750px) {
  /*ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
  }
  
  ul.topnav li a:hover {background-color: #555;}
  
  ul.topnav li.icon {display: none;}
  
  @media screen and (max-width:980px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
      float: right;
      display: inline-block;
    }
  }
  
  @media screen and (max-width:980px) {
    ul.topnav.responsive {position: relative;}
    ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    ul.topnav.responsive li {
      float: none;
      display: inline;
    }
    ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
  }*/
  .nav-bar {
    position: absolute;
    z-index: 3;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .nav-bar:last-child {
      margin-right: 0; }
    .nav-bar .logo {
      width: 100%; }
      .nav-bar .logo h1 {
        margin-top: -50px;
        color: #CB2222;
        font-size: 20px;
        margin-right: 0px;
        font-weight: 900; }
    .nav-bar ul.topnav {
      width: 100%;
      list-style-type: none;
      margin: 0;
      margin-top: 0px;
      padding: 5.5px;
      overflow: hidden;
      /*  background-color: #333;*/ }
    .nav-bar ul.topnav li {
      float: left;
      /*border-right: 2px solid $green;
      &:first-child {
        border-right: none; 
      }
       &:last-of-type .nav {
        border-right: none; 
      }*/ }
    .nav-bar ul.topnav li a {
      display: inline-block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 4px;
      text-decoration: none;
      font-size: 18px;
      z-index: 14;
      font-family: "Open Sans Condensed", sans-serif;
      padding-left: 2px;
      font-weight: 100; }
    .nav-bar ul.topnav li p {
      display: inline-block;
      color: #CB2222;
      text-align: center;
      font-size: 26px;
      margin: -3px;
      padding-right: 500px;
      padding: -31px 16px;
      text-decoration: none;
      z-index: 14;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: 400; }
      .nav-bar ul.topnav li p:hover {
        background-color: rgba(255, 0, 0, 0); }
    .nav-bar ul.topnav li a:hover {
      color: #CB2222; }
    .nav-bar ul.topnav li.icon {
      display: none; } }
  @media screen and (min-width: 750px) and (max-width: 980px) {
    .nav-bar ul.topnav li:not(:first-child) {
      display: none; }
    .nav-bar ul.topnav li.icon {
      float: right;
      display: inline-block; } }
  @media screen and (min-width: 750px) and (max-width: 980px) {
    .nav-bar ul.topnav.responsive {
      position: relative; }
    .nav-bar ul.topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0; }
    .nav-bar ul.topnav.responsive li {
      float: none;
      display: inline; }
    .nav-bar ul.topnav.responsive li a {
      display: block;
      text-align: left; } }

@media screen and (min-width: 750px) {
  .slideshow {
    position: absolute;
    margin-top: -20px;
    text-align: center;
    width: 100%; }
    .slideshow .pic {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 100%;
      /*opacity: 0.9;*/ }
    .slideshow h1 {
      position: relative;
      z-index: 4;
      color: white;
      top: -400px;
      font-size: 55px; }
    .slideshow .myButton {
      position: relative;
      z-index: 4;
      background-color: #cb2222;
      border-radius: 28px;
      display: inline-block;
      color: #ffffff;
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: thin;
      font-size: 24px;
      padding: 11px 28px;
      margin-top: -26%;
      text-decoration: none;
      text-shadow: 0px 1px 0px #2f6627; }
    .slideshow .myButton:hover {
      background-color: #cb2222; }
    .slideshow .myButton:active {
      position: relative;
      top: 1px; }

  .about h3 {
    padding-top: 740px;
    font-weight: 700;
    font-size: 26px;
    color: #CB2222;
    border-bottom: 3px double;
    line-height: 1.7em;
    width: 180px; }
  .about h4 {
    padding-top: 30px;
    width: 80%;
    text-align: justify; }

  .extras {
    width: 100%;
    height: 600px;
    padding-top: 80px; }
    .extras .pics {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      border-color: #696969;
      margin-right: 20px;
      margin-left: 14%; }
      .extras .pics .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .pics h2 {
        font-size: 22px;
        padding-left: 20px;
        color: #C0C0C0; }
      .extras .pics h3 {
        padding-top: 0px;
        font-size: 24px;
        color: #CB2222;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .extras .pics p {
        padding-left: 28px;
        text-align: justify;
        width: 90%;
        color: #808080; }
    .extras .vids {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      border-color: #696969;
      margin-right: 20px; }
      .extras .vids .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .vids h2 {
        font-size: 22px;
        padding-left: 20px;
        color: #C0C0C0; }
      .extras .vids h3 {
        padding-top: 0px;
        font-size: 24px;
        color: #CB2222;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .extras .vids p {
        padding-left: 4px;
        text-align: justify;
        width: 90%;
        color: #808080; }
    .extras .news {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      border-color: #696969;
      margin-right: 20px; }
      .extras .news .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .news h2 {
        font-size: 22px;
        padding-left: 20px;
        color: #C0C0C0; }
      .extras .news h3 {
        padding-top: 0px;
        font-size: 24px;
        color: #CB2222;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .extras .news p {
        padding-left: 28px;
        text-align: justify;
        width: 90%;
        color: #808080; }

  /*locations page*/
  .locations {
    position: absolute;
    width: 100%; }
    .locations .loc_1 {
      position: relative;
      top: 37px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_1 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px;
        color: #696969; }
      .locations .loc_1 .pic {
        width: 55%;
        height: 37.5%;
        border-radius: 50%; }
      .locations .loc_1 h3 {
        padding-left: 15px;
        font-size: 20px;
        padding-top: 10px;
        color: #696969;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .locations .loc_1 .r {
        margin-bottom: 10px;
        width: 13%;
        height: 10.5%; }
      .locations .loc_1 .m {
        margin-bottom: 20px;
        width: 9.5%;
        height: 7.8%; }
      .locations .loc_1 .q58 {
        margin-bottom: 32px;
        padding-left: 8px;
        width: 10%;
        height: 4%; }
    .locations .loc_2 {
      position: relative;
      top: 32px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_2 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px;
        color: #696969; }
      .locations .loc_2 .pic {
        width: 55%;
        height: 38%;
        border-radius: 50%; }
      .locations .loc_2 h3 {
        font-size: 20px;
        padding-top: 10px;
        color: #696969;
        border-bottom: none;
        line-height: nonel;
        width: 280px; }
      .locations .loc_2 .lirr {
        margin-bottom: 10px;
        width: 40%;
        height: 9%; }
      .locations .loc_2 .q12 {
        margin-bottom: 28px;
        padding-left: 8px;
        margin-left: -15px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q13 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q27 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
    .locations .loc_3 {
      position: relative;
      top: 28px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_3 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px;
        color: #696969; }
      .locations .loc_3 .pic {
        width: 55%;
        height: 38%;
        border-radius: 50%; }
      .locations .loc_3 h3 {
        font-size: 20px;
        padding-top: 10px;
        color: #696969;
        border-bottom: none;
        line-height: nonel;
        width: 380px; }
      .locations .loc_3 .seven {
        margin-bottom: 10px;
        width: 10%;
        height: 8%; }
      .locations .loc_3 .q44 {
        margin-bottom: 25px;
        padding-left: 8px;
        width: 17%;
        height: 3.5%; }

  /*programs*/
  /*.programs {
    .crazy-images {
      .img1 {
        margin: 10px;
        margin-left: 20px;
        width: 25%;
        height: 28%;
      }
      .img2 {
        margin: 10px;
        margin-left: 20px;
        width: 25%;
        height: 28%;
      }
    }
    h2 {
      padding-top: 30px;
      font-size: 30px;
      color: $red;
      border-bottom: 3px double;
      line-height: 1.7em;
      width: 180px;
    }
    .right-and-left{
      width: 100%;
      h3 {
        text-align: justify;
        padding-top: 20px;
        padding-left: 60px;
        float: left;
        color: $darkgray;
        width: 20%;
        margin-right: 20px;
        border-bottom: none;
      }
      h4 {
        padding-top: 20px;
        float: left;
        text-align: justify;
        width: 74.5%;
        color: $lightgray;
      }
    }  
  }*/
  .slideshow-program {
    position: absolute;
    margin-top: -20px;
    text-align: center;
    width: 102.5%; }
    .slideshow-program .pic {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 60%;
      /*opacity: 0.9;*/ }

  .programs {
    width: 100%;
    position: absolute; }
    .programs h3 {
      position: relative;
      top: 440px;
      left: 40px; }
    .programs h2 {
      position: relative;
      top: 460px;
      text-align: center;
      color: #CB2222; }
    .programs h4 {
      margin-top: -30px;
      position: relative;
      top: 490px;
      text-align: center;
      width: 80%;
      color: black;
      font-size: 21px; }

  .slideshow-gallery {
    position: absolute;
    margin-top: -20px;
    text-align: center;
    width: 100%; }
    .slideshow-gallery .pic {
      position: relative;
      z-index: 1;
      display: inline-block;
      width: 100%;
      height: 60%;
      /*opacity: 0.9;*/ }

  .gallery {
    position: absolute;
    width: 100%; }
    .gallery .rows img {
      top: 10px;
      float: left;
      position: relative;
      width: 22%;
      height: 42%;
      margin: 5.56%;
      background-color: #808080;
      overflow: hidden;
      border-radius: 50%; }
    .gallery .intro-rows h4 {
      top: -2365px;
      float: left;
      width: 22%;
      padding-bottom: 252px;
      padding-left: 120px;
      position: relative;
      margin: 5.56%;
      overflow: hidden;
      font-size: 21px;
      color: #CB2222; }
    .gallery .word-rows h3 {
      top: -985px;
      float: left;
      width: 22%;
      padding-bottom: 265px;
      padding-left: 65px;
      position: relative;
      margin: 5.56%;
      overflow: hidden; }

  .career {
    position: absolute;
    width: 100%; }
    .career h1 {
      padding-top: 430px; }
    .career h4 {
      padding-top: 3%;
      width: 85%;
      font-size: 21px; }
    .career h3 {
      font-size: 25px;
      width: 85%;
      color: #CB2222; }

  .achievements {
    position: absolute;
    width: 100%; }
    .achievements .list2015 h3 {
      color: #CB2222;
      padding-top: 70px;
      padding-bottom: 40px;
      margin-left: 10%;
      font-size: 28px; }
    .achievements .list2015 h4 {
      float: left;
      position: relative;
      width: 47%;
      margin-top: 10px;
      padding-left: 150px;
      overflow: hidden;
      font-size: 22px;
      margin-bottom: 40px;
      text-align: justify;
      color: #808080; }
    .achievements .list2015 h2 {
      color: #CB2222;
      padding-top: 140px;
      padding-bottom: 40px;
      margin-top: 92%;
      margin-left: 10%;
      font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
