html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }

h1 {
  font-family: Garamond, "Times New Roman", Times, serif;
  padding-top: 20px;
  padding-left: 20px;
  color: gray; }

h2 {
  font-family: Garamond, "Times New Roman", Times, serif; }

h3 {
  font-family: Garamond, "Times New Roman", Times, serif; }

h4 {
  font-family: Garamond, "Times New Roman", Times, serif; }

p {
  font-family: Garamond, "Times New Roman", Times, serif; }

a {
  font-family: Garamond, "Times New Roman", Times, serif; }

.nav-block {
  position: absolute; }
  .nav-block p {
    position: relative;
    display: inline-block;
    padding-left: 65px; }
    .nav-block p:first-of-type {
      padding-left: 75px;
      color: blue; }

@media screen and (max-width: 750px) {
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  ul.topnav li {
    float: left; }

  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; }

  ul.topnav li a:hover {
    background-color: #555; }

  ul.topnav li.icon {
    display: none; } }
@media screen and (max-width: 750px) and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (max-width: 750px) and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
@media screen and (max-width: 750px) {
  h1 {
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px; }

  .slideshow {
    margin-top: 30px;
    text-align: center; }
    .slideshow .pic {
      width: 90%;
      height: 35%; }

  .extras {
    width: 100%;
    height: 600px;
    padding-top: 30px; }
    .extras .pics {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 20px;
      margin-left: 15%; }
      .extras .pics .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .pics h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .pics h3 {
        font-size: 17px; }
      .extras .pics p {
        display: none; }
    .extras .vids {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 20px;
      margin-left: 15%; }
      .extras .vids .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .vids h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .vids h3 {
        font-size: 17px; }
      .extras .vids p {
        display: none; }
    .extras .news {
      width: 70%;
      height: 200px;
      border-style: ridge;
      margin-bottom: 50px;
      margin-left: 15%; }
      .extras .news .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: -5px;
        width: 60%; }
      .extras .news h2 {
        font-size: 19px;
        padding-left: 20px; }
      .extras .news h3 {
        font-size: 17px; }
      .extras .news p {
        display: none; } }
@media screen and (min-width: 750px) {
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; }

  ul.topnav li {
    float: left; }

  ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px; }

  ul.topnav li a:hover {
    background-color: #555; }

  ul.topnav li.icon {
    display: none; } }
@media screen and (min-width: 750px) and (max-width: 680px) {
  ul.topnav li:not(:first-child) {
    display: none; }

  ul.topnav li.icon {
    float: right;
    display: inline-block; } }
@media screen and (min-width: 750px) and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }

  ul.topnav.responsive li {
    float: none;
    display: inline; }

  ul.topnav.responsive li a {
    display: block;
    text-align: left; } }
@media screen and (min-width: 750px) {
  .slideshow {
    position: absolute;
    margin-top: 50px;
    text-align: center;
    width: 100%; }
    .slideshow .glyphicon {
      top: 222px; }
    .slideshow .left-bar {
      position: relative;
      display: inline-block;
      z-index: 2;
      left: 6.3%;
      top: -214px;
      width: 6%;
      height: 499px;
      background-color: black;
      opacity: 0.6; }
      .slideshow .left-bar a {
        color: white;
        font-size: 40px; }
      .slideshow .left-bar a:hover {
        color: red; }
    .slideshow .pic {
      z-index: 1;
      position: relative;
      display: inline-block;
      width: 80%;
      height: 70%; }
    .slideshow .right-bar {
      z-index: 2;
      display: inline-block;
      position: relative;
      right: 6.2%;
      top: -212px;
      width: 6%;
      height: 499px;
      background-color: black;
      opacity: 0.5; }
      .slideshow .right-bar a {
        z-index: 3;
        color: white;
        font-size: 40px; }
      .slideshow .right-bar a:hover {
        color: red; }

  h3 {
    padding-top: 630px; }

  h4 {
    padding-top: 30px;
    width: 80%;
    text-align: justify; }

  .extras {
    width: 100%;
    height: 600px;
    padding-top: 80px; }
    .extras .pics {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      margin-right: 20px;
      margin-left: 14%; }
      .extras .pics .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .pics h2 {
        font-size: 22px;
        padding-left: 20px; }
      .extras .pics p {
        padding-left: 28px;
        text-align: justify;
        width: 90%; }
    .extras .vids {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      margin-right: 20px; }
      .extras .vids .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .vids h2 {
        font-size: 22px;
        padding-left: 20px; }
      .extras .vids p {
        padding-left: 28px;
        text-align: justify;
        width: 90%; }
    .extras .news {
      width: 23%;
      height: 400px;
      float: left;
      border-style: ridge;
      margin-right: 20px; }
      .extras .news .photo {
        border-style: groove;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5px;
        width: 60%; }
      .extras .news h2 {
        font-size: 22px;
        padding-left: 20px; }
      .extras .news p {
        padding-left: 28px;
        text-align: justify;
        width: 90%; }

  /*locations page*/
  .locations {
    position: absolute;
    width: 100%; }
    .locations .loc_1 {
      position: relative;
      top: 20px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_1 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px; }
      .locations .loc_1 .pic {
        width: 55%;
        height: 38%;
        border-radius: 50%; }
      .locations .loc_1 h3 {
        font-size: 20px;
        padding-top: 20px; }
      .locations .loc_1 .r {
        margin-bottom: 10px;
        width: 13%;
        height: 10.5%; }
      .locations .loc_1 .m {
        margin-bottom: 20px;
        width: 9.5%;
        height: 7.8%; }
      .locations .loc_1 .q58 {
        margin-bottom: 32px;
        padding-left: 8px;
        width: 10%;
        height: 4%; }
    .locations .loc_2 {
      position: relative;
      top: 11px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_2 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px; }
      .locations .loc_2 .pic {
        width: 55%;
        height: 38%;
        border-radius: 50%; }
      .locations .loc_2 h3 {
        font-size: 20px;
        padding-top: 20px; }
      .locations .loc_2 .lirr {
        margin-bottom: 10px;
        width: 40%;
        height: 9%; }
      .locations .loc_2 .q12 {
        margin-bottom: 28px;
        padding-left: 8px;
        margin-left: -15px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q13 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
      .locations .loc_2 .q27 {
        margin-bottom: 28px;
        padding-left: 8px;
        width: 10%;
        height: 3%; }
    .locations .loc_3 {
      position: relative;
      top: 8px;
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-bottom: 10px; }
      .locations .loc_3 h2 {
        text-align: center;
        font-size: 23px;
        padding-bottom: 15px; }
      .locations .loc_3 .pic {
        width: 55%;
        height: 38%;
        border-radius: 50%; }
      .locations .loc_3 h3 {
        font-size: 20px;
        padding-top: 20px; }
      .locations .loc_3 .seven {
        margin-bottom: 10px;
        width: 10%;
        height: 8%; }
      .locations .loc_3 .q44 {
        margin-bottom: 25px;
        padding-left: 8px;
        width: 17%;
        height: 3.5%; } }

/*# sourceMappingURL=style.css.map */
